<div id="game">
    <div class="grid-container">
        <svg ng:attr:viewBox="-10 10 {{ (ngModel.gameSize.x + 1) * ngModel.cellSize }} {{ (ngModel.gameSize.y + 1) * ngModel.cellSize }}">
            <g ng-repeat="cell in ngModel.grid track by $index">
                <rect ng-class-even="'cellEven'" ng-class-odd="'cellOdd'"
                      ng:attr:width="{{ ngModel.cellSize }}"
                      ng:attr:height="{{ ngModel.cellSize }}"
                      ng:attr:x="{{ cell.x * ngModel.cellSize }}"
                      ng:attr:y="{{ cell.y * ngModel.cellSize }}"
                      ng-click="cellClicked();"
                      ng-class="{hover: isValidCellSelection()}" />
                <image 
                    ng-if="ngModel.player.x == cell.x && ngModel.player.y == cell.y"
                    ng:attr:width="{{ ngModel.cellSize }}"
                    ng:attr:height="{{ ngModel.cellSize }}"
                    ng:attr:x="{{ cell.x * ngModel.cellSize }}"
                    ng:attr:y="{{ cell.y * ngModel.cellSize }}"
                    xlink:href="https://openclipart.org/download/219585/1432836387.svg" />
                <image 
                    ng-if="ngModel.hasRobotAt(cell.x, cell.y)"
                    ng:attr:width="{{ ngModel.cellSize }}"
                    ng:attr:height="{{ ngModel.cellSize }}"
                    ng:attr:x="{{ cell.x * ngModel.cellSize }}"
                    ng:attr:y="{{ cell.y * ngModel.cellSize }}"
                    xlink:href="https://openclipart.org/download/191072/Blue-Robot.svg" />
            </g>
        </svg>
    </div>
</div>