<doctype html>
    <html>
    <head>
        <title>BSD Robots</title>
        <link rel="stylesheet" href="~/build/content/dist/css/app.min.css">
    </head>
    <body ng-app="robotsApp">
        <div class="container">
            <div ng-include="'/app/views/nav.html'"></div>
            <div class="game" ng-include="'/app/views/main.html'"></div>
        </div>

        <!-- script tags -->
        <script src="~/build/scripts/angular.min.js"></script>
        <script src="~/build/scripts/angular-bootstrap.min.js"></script>
        <script src="~/build/scripts/app.min.js"></script>
    </body>
</html>
