body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container {
    width: 100%;
    float: left;
}

.grid-container svg {
    height: 90vh;
    display: block;
    margin: auto;
}

rect.cellEven {
  fill: #5D8AA8;
  stroke: none;
}

rect.cellOdd {
    fill: #72A0C1;
    stroke: none;
}

rect.hover:hover {
  fill: #ff6a00;
}

g > line {
    stroke: red;
    stroke-width: 3;
    stroke-linecap: round;
}

text.gameOver {
    font-family: "Verdana";
    font-size: 55;
    fill: red;
    stroke: #000000;
    text-anchor: middle;
}